@model List<Product> 
@{
    ViewData["Title"] = "Index";
}

  <section id="products">
      <input id="productCount" type="hidden" value="@ViewBag.ProductCount" />
            <div class="container">
                <div id="productList" class="row">
                  @*<partial name="_LoadMorePartial"/>*@
                  @await Component.InvokeAsync("Product",2)
                </div>
                <div class="row justify-content-center">
                    <button id="loadMore" class="btn btn-primary mt-3 mb-5">Load More...</button>
                </div>
            </div>
        </section>