@using _17._06._2022_FrontToBack.Services
@model List<Product>


@inject ISum sum;
@{
    int result = sum.Sum(4, 5);
};


@foreach (var item in Model)
{
    <li class="d-flex px-3">
        <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">@item.Name</a>
    </li>
}